<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlists</title>
</head>
<body> 


{% block heading %}
    <title>{{ playlist.name }}</title>
    <style>
        .hidden-player {
            position: absolute;
            left: 9999999px;
        }
        .play-button {
            padding: 10px 20px;
            background-color: green;
            color: white;
            border: none;
            margin-bottom: 10px;
        }
        .song-list {
            margin-top: 20px;
            display: grid;
            place-items: center;
        }
    </style>
{% endblock %}

    {% block body %}
    <h2 class="playlist-title">Playlist: {{ playlist.name }}</h2>

    <form method="GET" class="shuffle-form">
        <input type="hidden" name="play" value="{% if play_song %}{{ play_song.id }}{% endif %}">
        <input type="hidden" name="shuffle" value="{% if shuffle %}false{% else %}true{% endif %}">
        <button type="submit" class="shuffle-button">
            {% if shuffle %} Disable Shuffle {% else %} Enable Shuffle {% endif %}
        </button>
    </form>

    <h3 class="songs-title">Songs:</h3>
    <ul class="songs-list">
        {% for song in playlist.song.all %}
            <li class="song-item">
                <span>{{ song.title }} - {{ song.artist }}</span>
                <a href="?play={{ song.id }}&shuffle={{ shuffle }}">
                    <button class="play-button">Play</button>
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if play_song %}
        <iframe class="hidden-player" src="{{ play_song.youtube_url_modify }}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p class="now-playing">Now Playing: {{ play_song.title }} - {{ play_song.artist }}</p>

        {% if next_song %}
        <div class="shuffle-form">
            <a href="?play={{ next_song.id }}&shuffle={{ shuffle }}">
                <button class="play-button">Play Next: {{ next_song.title }} - {{ next_song.artist }}</button>
            </a>
        </div>
        {% endif %}
    {% else %}
        <p class="no-song">Click Play Button Now!!!</p>
    {% endif %}

{% endblock %}

</body>
</html>