<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlists</title>
</head>
<body> 
    {% block body %}
    <h2 class="playlist-title">Your Playlists</h2>
    <ul class="playlist-list">
        {% for playlist in playlists %}
            <li class="playlist-item">
                <a href="{% url 'view_playlist' playlist.pk %}" class="playlist-link">
                    {{ playlist.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
</body>
></html>
